<div class="footer-top block w-full bg-cinqo-black">
	<div class="container mx-auto px-4">
		<div class="sm:flex sm:flex-wrap sm:-mx-4 pb-10 text-white">
			<div class="px-4 sm:w-1/2 md:w-1/4 xl:w-1/4 mt-8 self-center">
				<a class="logo" href="#"><img src="/wp-content/themes/cinqo-me/assets/src/img/logo.svg"></a>
			</div>
			<div class="px-4 sm:w-1/2 md:w-1/4 xl:w-1/4 mt-8">
				<h2 class="font-BarlowBold text-font-lg font-bold mb-6">GROUP</h2>
				<p class="font-BarlowLight font-base">Cinqo Contracting Cinqo Flooring & Coating Technologies Cinqo Food Transportation Cinqo Trading THC Facilities Management Double Star Catering Arooj Property Development Flagship Holding</p>
			</div>
			<div class="px-10 sml:px-4 sm:w-1/2 md:w-1/4 xl:w-1/4 mt-8">
				<span>
					<h2 class="font-BarlowBold text-font-lg font-bold mb-6">ABOUT US</h2>
					<p class="font-BarlowLight">Management Profile Manpower & Equipment Certifications</p>
				</span>

				<span class="mt-4 block">
					<h2 class="font-BarlowBold text-xl font-bold mb-6">FAQs NEWS CSR CONTACT US</h2>
				</span>
			</div>
			<div class="px-4 sm:w-1/2 md:w-1/4 xl:w-1/4 mt-8">
				<h2 class="font-BarlowBold text-font-lg font-bold mb-6">OUR OFFICE</h2>
				<p class="font-BarlowLight">YUSUF BIN AHMED KANOO TOWER Kanoo Tower, </p>
				<p class="font-BarlowLight">Level 14, Entrance No. 143-144 Road 1703, </p>
				<p class="font-BarlowLight">Block 317. Diplomatic Area, </p>
				<p class="font-BarlowLight">Kingdom of Bahrain.</p>
				<span class="font-BarlowLight">Phone: +973 7722 5050</span>
				<span class="font-BarlowLight">Email: info@cinqo-me.com</span>
			</div>
		</div>
	</div> 
</div> 

<div class="footer-bottom block w-full">
	<div class="container mx-auto px-4">
    	<span class="block font-BarlowLight text-cinqo-blcak py-4 ">© 2023<a href="https://google.com/" class="hover:underline">Cinqo Group</a>. All rights reserved.
    	</span>
    </div>
</div> 