{% extends "base.twig" %}

{% block content %}
  <!-- Hero section starts -->
  {# <section class="flex bg-gradient-to-r from-red-100 to-orange-100 h-96 bg-[url('/img/hero-pattern.svg')]">
    <div class="container mx-auto flex justify-center items-center flex-col">
      
      <h1 class="text-black text-4xl md:text-5xl font-bold text-center w-1/2">
        Build beautiful website & mobile apps.
      </h1>

      <a href="#" class="mt-9 bg-red-400 px-12 py-3 rounded-3xl hover:bg-red-500 text-white" role="button">
        Get started!
      </a>

    </div>
  </section> #}
<div class="max-w-xs rounded-lg overflow-hidden shadow-lg relative">
  <img class="w-full h-48 object-cover" src="https://images.pexels.com/photos/1274260/pexels-photo-1274260.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="Flower and sky"/>
  <div class="px-6 py-4 absolute left-0 top-0">
    <h4 class="hover:text-red-700 font-semibold text-white tracking-tight text-xl mb-3">bunty Oberoi Literally an img</h4>
    <p class="text-gray-100 leading-normal">bunty oberoi this is the test Lorem ipsum dolor, sit amet cons ectetur adipis icing elit. Praesen tium, quibusdam facere quo laborum maiores sequi nam tenetur laud.</p>
  </div>
</div>
{% endblock %}